<footer class='cd-dark'>
    <div class="contact">
        <div class='container'>
            <div class="nav">
                <a class="nav__item" href="#home">Home</a>
                <a class="nav__item" href="#section5"> About us </a>
                <a class="nav__item" href="#"> Team</a>
            </div>
            <a class='btn btn--transp' href="#" target="_blank">Contact</a>
        </div>
    </div>
    <div class="copyright">
        <div class='container'>
            <a class="logo" href="#">TSR</a>
            <div class="copyright__content">
                <a class="copyright__terms" href="#" target="_blank">Terms & Condition</a>
                <a class="copyright__policy" href="#" target="_blank">Privacy policy</a>
            </div>
        </div>
    </div>
</footer>